@model BDate.Models.Profile

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-lg">
    <form asp-action="Create">
        <div class="row justify-content-lg-center">
            <div class="card p-4 col-lg-6 text-center">
                <h3>Create your profile to start matching</h3>
            </div>
        </div>
        <div class="row justify-content-lg-center mt-4">
            <div class="card p-4 col-lg-6 mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="FirstName" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="LastName" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="DateOfBirth" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        <input asp-for="DateOfBirth" class="form-control" />
                    </div>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Gender" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(m => m.Gender, 
                        new List<SelectListItem>
                        { 
                            new SelectListItem{Text="Male", Value="Male"},
                            new SelectListItem{Text="Female", Value="Female"}
                        }, "Please select", new {@class = "form-control"})
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            @if (ViewBag.Personality != null) {
                <div class="card p-4 col-lg-3 mt-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                Add Personality🤡
                            </button>
                        </div>
                        <div id="collapseExample1" class="panel-collapse collapse">
                            <div class="list-group list-group-scroll">
                                @foreach (var item in ViewBag.Personality) {
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" name=checkedPersonalityValues value="@item.PersonalityId">
                                        @item.PersonalityName
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.Hobby != null) {
                <div class="card p-4 col-lg-3 mt-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                Add Hobbies🧗‍♀️
                            </button>
                        </div>
                        <div id="collapseExample2" class="panel-collapse collapse">
                            <div class="list-group list-group-scroll">
                                @foreach (var item in ViewBag.Hobby) {
                                    <label class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" name=checkedHobbyValues value="@item.HobbyId">
                                        @item.HobbyName
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-lg-center mt-4">
            <div class="card p-4 d-flex justify-content-center">
                <input type="submit" value="Create Profile" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
