@model BDate.Models.Profile

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-lg">
    <div class="col-lg-4 offset-lg-3">
        <h3>Are you sure you want to delete your profile?</h3>
    </div>
    <div class ="row mt-4">
        <div class="card col-lg-4 offset-lg-3">
            <div class="card-body">
                <h3>@Model.FirstName</h3>
                <h3>@Model.LastName</h3>
                <h3>@(DateTime.Now.Year - Model.DateOfBirth.Year) years</h3>
                <h3>@Model.Gender</h3>
            </div>
        </div>
        <div class="card col-lg-3">
            <div class="card-body">
                @if (Model.Personalities.Count() != 0) {
                    <div class="mt-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button class="btn btn-primary btn-w100" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                                    Show Personalities
                                </button>
                            </div>
                            <div id="collapseExample1" class="panel-collapse collapse">
                                <div class="list-group">
                                    @foreach (var item in Model.Personalities) {
                                        <label class="list-group-item">
                                            @item.PersonalityName
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Hobbies.Count() != 0) {
                    <div class="mt-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button class="btn btn-primary btn-w100" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                    Show Hobbies
                                </button>
                            </div>
                            <div id="collapseExample2" class="panel-collapse collapse">
                                <div class="list-group">
                                    @foreach (var item in Model.Hobbies) {
                                        <label class="list-group-item">
                                            @item.HobbyName
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-lg-7 offset-lg-3 text-center">
            @if (Model.ApplicationUser.Id.Equals(ViewBag.currentUserId)) {
                <form asp-action="Delete">
                    <input type="hidden" asp-for="UserId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            } 
        </div>
    </div>
</div>
