@model BDate.Models.Profile

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Age")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <div>
            @if (Model.Personalities.Count() != 0)
            {
                <h4>Personalities</h4>
                foreach (var item in Model.Personalities)
                {
                    <tr>
                        @Html.HiddenFor(x => item.PersonalityId)
                        <td>
                            @Html.TextBoxFor(x => item.PersonalityName, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                    </tr>
                }
            }
        </div>
        <div>
            @if (Model.Hobbies.Count() != 0)
            {
                <h4>Hobbies</h4>
                foreach (var item in Model.Hobbies)
                {
                    <tr>
                        @Html.HiddenFor(x => item.HobbyId)
                        <td>
                            @Html.TextBoxFor(x => item.HobbyName, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                    </tr>
                }
            }
        </div>
    </dl>
</div>
@if (Model.ApplicationUser.Id.Equals(ViewBag.currentUserId))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.UserId">Edit profile</a>
    </div>
}
else if (!Model.ApplicationUser.Id.Equals(ViewBag.currentUserId))
{
    <div>
        <a asp-action="Index" asp-route-id="">Go back</a>
    </div>
}
