@model IEnumerable<BDate.Models.Profile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-lg overflow-hidden">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6 text-center">
            <h3>Find Match</h3>
        </div>
    </div>
    <div class="row mt-4">
        @foreach (var item in Model) {
            <div class="col-md-4 mt-4">                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@item.FirstName</h5>
                            @if (item.Setting.isHiddenAge == false) {
                                <h5 class="card-title">@(DateTime.Now.Year - item.DateOfBirth.Year) years</h5> 
                            } else {
                                <h5 class="card-title">🙈 years</h5> 
                            }
                        </div>
                        <div class="d-flex justify-content-between">
                            @if (item.Setting.isHiddenLastName == false) {
                                <h5 class="card-title">@item.LastName</h5>
                            } else {
                                <h5 class="card-title">🙈</h5>
                            }
                            @if (item.Gender.Equals("Male")) {
                                <h5 class="card-title color-emoji-male">♂️</h5> 
                            } else if (item.Gender.Equals("Female")) {
                                <h5 class="card-title color-emoji-female">♀️</h5> 
                            }
                        </div>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        @if (item.Personalities.Count() != 0) {
                            <div class="col-lg-12 mb-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <button class="btn btn-primary btn-w100" type="button" data-toggle="collapse" data-target="#@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"p")" aria-expanded="false" aria-controls="@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"p")">
                                            Personalities
                                        </button>
                                    </div>
                                    <div id="@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"p")" class="panel-collapse collapse">
                                        <div class="list-group">
                                            @foreach (var personality in item.Personalities.Take(3)) {
                                                <label class="list-group-item">
                                                    @personality.PersonalityName
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        } else {
                            <div class="col-lg-12 mb-4">
                                <button class="btn btn-primary btn-w100" disabled type="button">
                                    No personalities 
                                </button>
                            </div>
                        }
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        @if (item.Hobbies.Count() != 0) {
                            <div class="col-lg-12 mb-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <button class="btn btn-primary btn-w100" type="button" data-toggle="collapse" data-target="#@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"h")" aria-expanded="false" aria-controls="@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"h")">
                                            Hobbies
                                        </button>
                                    </div>
                                    <div id="@System.Math.Abs(item.ApplicationUser.Email.GetHashCode()).ToString().Insert(0,"h")" class="panel-collapse collapse">
                                        <div class="list-group">
                                            @foreach (var hobby in item.Hobbies.Take(3)) {
                                                <label class="list-group-item">
                                                    @hobby.HobbyName
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        } else {
                            <div class="col-lg-12 mb-4">
                                <button class="btn btn-primary btn-w100" disabled type="button">
                                    No hobbies
                                </button>
                            </div>
                        }
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <div>
                            <a asp-action="Details" asp-route-id="@item.UserId">More info</a>
                        </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                        @if (((IList<string>)ViewBag.matchesOfCureentUser).Contains(item.UserId)) {
                            <button type="submit" class="btn btn-primary disabled">Your match is sent🥰</button>
                        } else if (((IList<string>)ViewBag.profileIdOfAlreadyMatchedId).Contains(item.UserId)) {
                            <button type="submit" class="btn btn-primary disabled">They matched you😍</button>
                        } else {
                            <form method="post">
                                <input type="hidden" name=profileId value="@item.UserId">
                                <button type="submit" class="btn btn-primary">Send match😘</button>
                            </form>
                        }
                    </div>
                </div>            </div>        }    </div>
</div>
<style>
    input:disabled {
        color: lightcoral;
    }
    .btn-w100 {
        width:100%;
    }
    .color-emoji-male {
        color: transparent;  
        text-shadow: 0 0 0 blue;
    }
    .color-emoji-female {
        color: transparent;  
        text-shadow: 0 0 0 pink;
    }
</style>
